<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<script type="text/javascript">
    var eventBus = new Vue();
</script>
<style>
    .checked {text-decoration: line-through;}
</style>
<template id="list-template">
    <ul>
        <li v-for="a in todolist">
            <span @click.stop="doneToggle(a.id)" :class="checked(a.done)">{{a.todo}}</span>
            <span v-if="a.done">(완료)</span>
            <span @click.stop="deleteTodo(a.id)">제거</span>
        </li>
    </ul>
</template>
<script type="text/javascript">
    Vue.component('list-component', {
        template : "#list-template",
        data : function () {
            return {
                todolist : [
                    { id:1, todo: "복습하기", done:false }
                ]
            }
        },
        created : function() {
            eventBus.$on('add-todo', this.addTodo)
        },
        methods : {
            checked : function (done) {
                if(done) return { checked:true };
                else return { checked:false };
            },
            deleteTodo : function (id) {
                var index = this.findIndex(id);
                this.todolist.splice(index, 1);
            },
            addTodo : function (todo) {
                if(todo !== ""){
                    this.todolist.push({id:new Date().getTime(), todo:todo, done:false});
                }
            },
            doneToggle : function (id) {
                var index = this.findIndex(id);
                this.todolist[index].done = !this.todolist[index].done
            },
            findIndex : function (id) {
                return this.todolist.findIndex(function (item) {
                    return item.id === id;
                });
            }
        }
    })
</script>
<template id="input-template">
    <div>
        <input v-model.trim="todo" type="text" placeholder="입력 후 엔터"/>
        <span @click.stop="addTodo">추 가</span>
    </div>
</template>
<script type="text/javascript">
    Vue.component('input-component', {
        template : "#input-template",
        data : function () {
            return { todo:"" }
        },
        methods : {
            addTodo : function () {
                eventBus.$emit('add-todo', this.todo);
                this.todo = "";
            }
        }
    })
</script>
<body>
    <div id="app">
        <input-component></input-component>
        <list-component></list-component>
    </div>
</body>
<script type="text/javascript">
    var vm = new Vue({
        el : "#app",
    })
</script>
</html>